h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blue;
    text-decoration: underline;
    text-align: center;
}
p {
    background-color: aquamarine;
    border: solid 1px darkgreen;
    font-size: 1.2em;
    padding: 10px;
    margin-top: -15px;
}
p.conclusion {
    background-color: red;
    color: azure;
}
h2#abstract {
    font-style: italic;
}